*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.jumbotron {
    background-color: midnightblue;
    color: aqua;
}


body {
    background-image: url(https://media.istockphoto.com/photos/weather-forecast-concept-picture-id531889697?b=1&k=20&m=531889697&s=170667a&w=0&h=imZl8VcPhgj-6jTFFkYGbVTFOTyQ-u93Z9WsyhMdqps=);
    background-size: cover;
}
#searchBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#box {
    padding: 10px;
}
.card {
    text-decoration: underline;
    text-decoration-color: black;
    width: fit-content;
    background-color: #ade2f7;
    border: 10px solid black;
}

#cityName {
    padding: 5px;
    display: flex;
    flex-flow: column ;
}  

#futureCast {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 10px;
}
h3{
    border: 10px solid black;
    width: fit-content;
    height: fit-content;
    background-color: azure;
    padding: 5px;
}

.li-update {
    list-style: none;
    padding: 10px;
}

